.search{
    color: lightseagreen;
    background-color: gainsboro;
    width: 80px;
    border-style: solid;
    border-color: lightseagreen;
    border-width: 1px;
    margin: 5px;
    border-radius:24px;
}
.plus{
    color: white;
    background-color: aquamarine;
    border-radius: 50%;
    border:0px;
    margin: 5px;
}
.account{
    width: 120px;
    color: white;
    background-color: blue;
    border: 1px;
    border-style: solid;
    border-color: black;
    box-shadow: 2px 2px black;
    margin: 5px;
}